body {
	background-color: #D5D8DA;
	font-family: "Roboto";

}

.clear-fix {
	clear: both;
}

.fluid-container-fix {

/* Margin settings to remove white space from left and right of fluid container*/
	margin-left: -20px;
	margin-right: -20px;
}

/* Header */

#main-header {
	/*width: 1920px;*/
	height: 3.7em;
	background-color: #2768D0;
	z-index: -1000;


}

#header-logo {
	color: white;
	margin: 0;
	padding: 0.625em;
}


#main-content {
	float: left;
}


/*  Side bar */

#side-bar {

	/* Try to find another way to achieve 100% height for browser window*/
	height: 93vh;

	background-color: #30373E;
	z-index: -1000;
	position: relative;





}

/* Status Panels*/

.tiles {
/*	height: 50px;
	width: 100px;*/

	height: 5.5em;
	width: 12em;
	border-radius: 10px;
	color: white;
	font-family: "Helvetica";

}

	.tiles > h4 {
		padding-top: 15px;
		padding-left: 5px;
	}

#tiles-first {
	background-color: #3C454D;
	
}
#tiles-second {
	background-color: #17B6A4;
}
#tiles-third {
	background-color: #2184DA;
}

#tiles-fourth {
	background-color: #38AFD3;
}

/* Window Panels*/

.window-panel {
	height: 400px;
	background-color: white;
	margin-left: 50px;
	margin-top: 3em;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#main-content {
	/*background-color: black;*/
}

.spacer {
	height: 3em;
}

